.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  background: lightgray;
  color: black;
}

label {
  font-weight: blue;
}

input {
  margin-bottom: 20px ;
  padding: 10px;
}

button {
  background-color: lightblue;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100px;
  font-weight: bold;
}